<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<meta charset="utf-8">
<html>
<head>
    <title>主页面</title>
    <link type="text/css" rel="stylesheet" href="../css/Scroll_Page_style1.css">
</head>
<body>


        <table id="down" cellspacing="0">
            <tbody>


            </tbody>
        </table>



</body>
</html>

<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/JS_index1.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>